body { 
	background : white;
	color : black;
	font-size: 10pt;
	font-family: sans-serif;
}

.container { 
	padding : 10px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.centered { 
	margin-left: auto;
	margin-right: auto;
	text-align : center; 
}

.a { 
	text-decoration: none;
}

.sectiontitle { 
	font-size: 130%;
	font-weight: 300;
}

.pagetitle { 
	font-size: 120%;
	font-weight: 600;
	color : #339933
}

.subtitle { 
	border-top : 1px #808080;
	font-size: 120%;
	font-weight: 200;
	color : #339933
}

.version { 
	font-size: 100%;
	font-weight : 200;
	padding : 5px;
	border: 1px solid #d9d9d9;
	background: #fdfdfd;
	margin-left : auto;
	margin-right : auto;
}

.intro { 

}

.library { 

	margin : 0px;
	margin-bottom: 30px;
	margin-left: 10%;
}

.exportlist { 
	padding : 5px;
	
}


.ugen { 
	font-size: 10pt;
	font-family: sans-serif;
	border: 2px solid #808080;
	background: #fdfdfd;
	margin : 10px;
	width : 500px;
	padding : 0px;
	margin-bottom: 30px;
}

.ugen h3 { 
	font-size: 120%;
	font-weight: 400;
	padding: 0.5em;
	background: #f0fff0;
	margin: 0px;
}


.name { 
	font-size: 100%;
	font-weight: 800;
}	

.heading { 
	color: #40a040;
}	

.ugen h4 { 
	background: #ffe0e0;
	margin : 0px;
	font-size : 110%;
}

.data { 
	margin: 0em;
	font-size: 90%;
	background : #f8f8f8;
}

.comments { 
	margin : 0px;
	padding : 0.5em;
	background : #e8e8e8;
}

.comments ul { 
	margin : 0px; 
	margin-left : 1em;
	padding : 0px;
	list-style-type : square;
}
.comment, .comments li { 
	margin-left: 0;
	font-style: italic;
}

.members { 
	margin: 0px;
	padding: 0.5em;
	background : #f0f0f0;
}

.members ul { 
	margin : 1em;
	margin-left : 1em;
}

li.members { 
	left : 10px;
}

li.members b { 
	font-weight : 800;
}

.export { 
	font-size: 10pt;
	font-family: sans-serif;
	border: 1px solid #808080;
	background: #fdfdfd;
	margin : 5px;
	width : 500px;
	padding : 0px;
	margin-bottom: 15px;
}

.export h3 { 
	font-weight: 400;
	padding : 2px;
	margin : 0.5em;
	font-size: 110%;
}
.arg { 
	font-weight: 800;
}

.example { 
	padding: 0.5em;
}

.code { 
	margin: 20px;
	width : 30em;
	padding: 1em;
	font-size: 90%;
	margin-left: 100px;
	border: 1px solid grey;
	background: white;
	font-family: monospace;
	white-space:pre;
}

.section { 
	color: #aa3333;
	width : 500px;
	font-size: 130%;
	border-bottom: 2px solid #808080;
	margin : 5px;	
	margin-bottom: 15px;
}

.sectionMain { 
	color: #aa3333;
	width : 484px;
	font-size: 200%;
	font-variant: small-caps;
	border: 1px solid #808080;
	background : #ffffdd;
	padding : 8px;
	margin : 20px;	
	margin-left: 5px;
}
