body {
    font-family: arial;
    margin: 0;
    padding: none;
}

#output {
    width: 59%;
    float: left;
    height: 300px;
    margin: 0 auto;
    margin-top: 10px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    background-color: black;
    color: white;
    font-family: 'Lucida Console', Monaco, monospace;
    outline: none;
    resize: none;
}

#shreds {
    margin-top: 10px;
    width: 40%;
    float: right;
    height: 300px;
    overflow: auto;
}

#shredstable {
    width: 90%;
    border-style: hidden;
    border-collapse: collapse;
}

th, td {
  text-align:left;
  border: 1px solid #dddddd;
  padding: 3px 5px;
}


.clearfix {
    clear: both;
}


#fileForm {
    margin: 5px 15px;
}

.hidden {
    display: none;
}
